.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.mjs
eslint.config.mjs
.vscode-test.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
test/**
docs/**
.github/**
